<% content_for :title, "Пользователи" %>

<div class="w-full">
  <div class="py-8 sm:py-16 block lg:py-24 relative bg-opacity-50 z-40">

    <div class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">

      <div class="mx-auto relative">
        <div class="max-w-xl mx-auto text-center">
          <div class="inline-flex px-4 py-1.5 mx-auto rounded-full">
            <p class="text-4xl font-semibold tracking-widest text-g uppercase">Пользователи</p>
          </div>
        </div>

        <%= form_with method: :get, url: people_path, class:"mt-4 flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row" do |form|%>
          <div class="w-1/2 px-4 py-2 mt-2 font-semibold bg-gray-300 rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
              <%= form.search_field :person_name, value: params[:person_name], placeholder: "Введите имя", class: "w-full focus:outline-none text-gray-700"%>
          </div>

          <%= form.text_field :friends, value: params[:friends], hidden: true %>

          <button class="border-2 border-gray-500 px-4 py-2 font-semibold bg-transparent rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline md:ml-4">
              Поиск
          </button>
        <%end%>
        
        <% if @people.blank? %>
          <div class="text-center font-bold text-xl mt-10">
            Пользователи не найдены. Попробуйте перезагрузить страницу или поменять параметры поиска.
          </div>
        <% else %>
          <div class="grid grid-cols-5 gap-8 mt-8">
            <% @people.each do |person| %>

              <%= link_to person_path(person), class: "py-4 rounded-xl flex flex-col items-center justify-center text-gray-800 hover:text-blue-600 bg-gray-100" do %>
                <%= image_tag person.avatar_url, class:"w-32 rounded-full" %>

                <h3 class="text-center font-bold text-sm mt-1">
                  <%= person.full_name %>
                </h3>
              <%end%>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>

    <div class="max-w-xl mx-auto text-center m-4">
      <div class="inline-flex mx-auto rounded-full">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
