<% content_for :title, @person.full_name %>

<div class="bg-gray-200 p-8">
  <div class="bg-white rounded-lg shadow-xl pb-8">
    <div class="w-full h-[250px]">
        <img src="https://vojislavd.com/ta-template-demo/assets/img/profile-background.jpg" class="w-full h-full rounded-tl-lg rounded-tr-lg">
    </div>

    <div class="flex flex-col items-center -mt-20">
        <%= image_tag @person.avatar_url, class:"w-40 border-4 border-white rounded-full" %>

        <div class="flex items-center space-x-2 mt-2">
            <p class="text-2xl"><%=name_and_years(@person)%></p>
        </div>
        <p class="text-sm text-gray-500"><%= @person.city %></p>
        
        <div class="w-full lg:w-4/12 px-4 lg:order-1">
          <div class="flex justify-center py-4 lg:pt-4 pt-8">
            <div class="mr-4 p-3 text-center">
              <%= link_to people_path(params: {friends: @person.id}) do %>
                <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600"><%= @person.friends.count %></span>
                <span class="text-sm text-blueGray-400">Друзей</span>
              <%end%>
            </div>
            <div class="mr-4 p-3 text-center">
              <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">10</span>
              <span class="text-sm text-blueGray-400">Мероприятий</span>
            </div>
            <div class="p-3 text-center">
              <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600"><%= @person.created_at.strftime("%d.%m.%y")%></span>
              <span class="text-sm text-blueGray-400">Регистрация</span>
            </div>
          </div>
        </div>
    </div>

    <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
        <div class="flex items-center space-x-4 mt-2">
          <%= render partial: 'friendship/buttons', locals: {person: @person} %>

          <% if current_person == @person %>
            <%= link_to edit_person_path(@person), class:"flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100" do %>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z"/>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>
              <span>Редактировать</span>
            <%end%>

            <%= button_to 'Выйти', destroy_person_session_path,
              method: :delete,
              class: "flex items-center bg-rose-900 hover:bg-rose-950 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100"
            %>
          <%end%>
        </div>
    </div>
  </div>

  <% if @person.description? %>
    <div class="flex flex-col w-full 2xl:w-2/3">
      <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
          <h4 class="text-xl text-gray-900 font-bold">Обо мне</h4>
          <p class="mt-2 text-gray-700"><%= @person.description%></p>
      </div>
    </div>
  <%end%>


    <div class="bg-white rounded-lg shadow-xl p-8 mt-4">
      <h4 class="text-xl text-gray-900 font-bold mb-2">Участие в мероприятиях</h4>
      <% if @participants.present? %>
        <%= render "events" %>

        <div class="flex justify-end">
          <div class="mr-2">
            <%= render partial: "normal_visible_icon", locals: {participant: {id: "example"}} %>
          </div>
          - видно только друзьям

          <div class="flex ml-6 mr-2">
              <%= render partial: "public_visible_icon", locals: {participant: {id: "example"}} %>
          </div>
          - видно всем пользователям

          <div class="flex ml-6 mr-2">
              <%= render partial: "private_visible_icon", locals: {participant: {id: "example"}} %>
          </div>
          - никому не видно
        </div>
      <%else%>
        Пока мероприятий нет
      <%end%>
    </div>

    <div class="bg-white rounded-lg shadow-xl p-8 mt-4">
        <div class="flex items-center justify-between">
            <h4 class="text-xl text-gray-900 font-bold">Друзья (<%= @person.friends.size%>)</h4>
            
            <a href="#" title="View All">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 hover:text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                </svg>
            </a>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-8 gap-8 mt-8">
          <%= render partial: "card", collection: @person.friends %>
        </div>
    </div>
</div>
