<tr class="relative transform scale-100 text-xs py-1 border-b-2 border-gray-100 cursor-default <%= "bg-gray-200 bg-opacity-25" if notification.read?%>">
  <td class="pl-5 pr-3 whitespace-no-wrap">
      <div class="text-gray-800 text-base"><%= notification.created_at.strftime("%d.%m.%Y")%></div>
      <div class="text-sm"><%= notification.created_at.strftime("%H:%M")%></div>
  </td>

  <td class="w-4/5 px-2 py-2 whitespace-no-wrap">
      <div class="leading-5 text-gray-500 text-base font-medium"><%= author_name(notification) %></div>
      <div class="leading-5 text-gray-800 text-base mt-2"><%= notification.text%></div>
  </td>
</tr>
