<% content_for :title, "Новое мероприятие" %>

<%= javascript_include_tag "new_event_map" %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="grid grid-cols-2">
  <div class="">

    <div class="h-full w-full">

      <%= form_with(model: @event, class: "flex h-full items-center contents p-5", url: organization_events_path(@organization)) do |form| %>
        <% if @event.errors.any? %>
          <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul class="list-disc ml-6">
              <% @event.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="bg-stone-100 w-full mx-auto p-6">
          <div class="p-5">
            <div class="p-5">
              <%= form.label :name, "Название", class: "text-xl" %>
              <%= form.text_field :name, class: ["bg-white w-[100%] px-4 py-2 rounded-xl appearance-none text-heading text-md", {"border-gray-400 focus:outline-blue-600": @event.errors[:description].none?, "border-red-400 focus:outline-red-600": @event.errors[:description].any?}] %>
            </div>

            <div class="md:p-5 p-1 initials flex lex-row justify-between">
              <div class="mt-5">
                  <%= form.label :start_date, "Дата начала", class: "text-xl" %>
                  <%= form.text_field :start_date, class: ["bg-white w-[100%] px-4 py-2 rounded-xl appearance-none text-heading text-md", {"border-gray-400 focus:outline-blue-600": @event.errors[:description].none?, "border-red-400 focus:outline-red-600": @event.errors[:description].any?}] %>
              </div>

              <div class="mt-5 mx-4">
                  <%= form.label :end_date, "Дата окончания", class: "text-xl" %>
                  <%= form.text_field :end_date, class: ["bg-white w-[100%] px-4 py-2 rounded-xl appearance-none text-heading text-md", {"border-gray-400 focus:outline-blue-600": @event.errors[:description].none?, "border-red-400 focus:outline-red-600": @event.errors[:description].any?}] %>
              </div>

              <div class="mt-auto mb-2">
                  <%= form.checkbox :online, class:"peer hidden" %>
                  <%= form.label :online, "Онлайн", class: "select-none cursor-pointer rounded-lg border-2 border-gray-400 py-3 px-6 font-bold text-gray-600 transition-colors duration-200 ease-in-out peer-checked:bg-indigo-200 peer-checked:text-indigo-900 peer-checked:border-indigo-200" %>
              </div>
            </div>

            <div class="md:p-5 p-1 sm:mt-1 mt-1">
              <div class="mt-5">
                  <%= form.label :tag_list, "Теги (через запятую)", class: "text-xl" %>
                  <%= form.text_field :tag_list, class: ["bg-white w-[100%] px-4 py-2 rounded-xl appearance-none text-heading text-md", {"border-gray-400 focus:outline-blue-600": @event.errors[:description].none?, "border-red-400 focus:outline-red-600": @event.errors[:description].any?}] %>
              </div>
            </div>

            <div class="md:p-5 p-1 sm:mt-1 mt-1">
              <div class="mt-5">
                  <%= form.label :description, "Описание", class: "text-xl" %>
                  <%= form.textarea :description, rows: 4, class: ["bg-white w-[100%] px-4 py-2 rounded-xl appearance-none text-heading text-md", {"border-gray-400 focus:outline-blue-600": @event.errors[:description].none?, "border-red-400 focus:outline-red-600": @event.errors[:description].any?}] %>
              </div>

              <div class="mt-5">
                  <%= form.label :image, "Изображение", class: "text-xl" %>
                  <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg', class: ["bg-white w-[100%] px-4 py-2 rounded-xl appearance-none text-heading text-md", {"border-gray-400 focus:outline-blue-600": @event.errors[:description].none?, "border-red-400 focus:outline-red-600": @event.errors[:description].any?}] %>
              </div>

              <div class="mt-5">
                  <%= form.label :location, "Расположение", class: "text-xl" %>
                  <%= form.text_field :location_name , class: ["bg-white w-[100%] px-4 py-2 rounded-xl appearance-none text-heading text-md", {"border-gray-400 focus:outline-blue-600": @event.errors[:description].none?, "border-red-400 focus:outline-red-600": @event.errors[:description].any?}] %>
                  <%= form.text_field :location, class: "hidden", readonly: true %>
              </div>

            </div>

            <div class="btn mt-2 w-[100%] bg-transparent flex items-center">
              <%= form.submit "Создать событие", class: "px-4 py-2 mx-auto rounded-xl text-center text-xl bg-black text-white hover:text-black hover:bg-white hover:shadow-xl" %>
              <%= link_to "Назад", organization_path(@organization), class: "px-4 py-2 mx-auto rounded-xl text-center text-xl bg-black text-white hover:text-black hover:bg-white hover:shadow-xl" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="p-5">
    <div class="h-full">
      <div id="map" class="map w-full h-full"></div>
    </div>
  </div>
</div>
