<% content_for :title, @event.name %>

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>

<div class="w-full">
  <section class=" bg-blue-500ray-50">
    <div class="py-8 sm:py-16 block lg:py-24 relative bg-opacity-50 z-40">

      <div class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24">

        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
          <div class="grid grid-cols-2 gap-20">
            <div class="max-w-xl mx-auto text-center">

              <div class="px-4 py-1.5 mx-auto rounded-full">
                <p class="text-4xl font-semibold tracking-widest text-g"><%= @event.name %></p>
                <p class="text-base leading-relaxed text-gray-600 group-hover:text-white">
                  Участников: <%= @event.participants.size %>
                </p>
                <%= link_to @organization.name, organization_path(@organization), class:"text-base leading-relaxed group-hover:text-white"%>
              </div>

              <p class="mt-4 text-base leading-relaxed text-gray-600 group-hover:text-white">
                <%= dates(@event) %> <br>
                <%= time(@event) %> <br>
                <%= online(@event) %>
              </p>

              <p class="my-4 text-base leading-relaxed text-gray-600 group-hover:text-white">
                <%= @event.description %>
              </p>

              <% if organization_signed_in? && current_organization == @organization %>
                <%= link_to "Редактировать", edit_organization_event_path(@organization, @event), class:"border-2 border-gray-500 px-4 py-2 font-semibold bg-transparent rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" %>
              <%end%>

              <% if person_signed_in? %>

                <% if current_person.events.include?(@event) %>
                  <%= render partial: "participants/destroy_button", locals: {participant: @participant} %>
                <%else%>
                  <%= render partial: "participants/create_button", locals: {event: @event } %>
                <%end%>

                <% if current_person.friends.present? %>
                  <%= form_with scope: :participants, url: participants_path, class: "grid mx-4" do |form|%>
                    <%= form.select :person_id, options_from_collection_for_select(current_person.friends, :id, :full_name), {}, {id:'tom-select-it', class:"mt-4 input-group"} %>
                    <%= form.text_field :event_id, value: @event.id, class: "hidden", readonly: true%>
                    <%= form.check_box :accepted, class: "hidden", readonly: true, checked: false%>
                    <%= form.submit "Пригласить друга", data: {turbo: true}, class: "mt-2 flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100"%>
                  <%end%>
                <%end%>
              <%end%>
            </div>

            <div>
              <%= image_tag @event.image_url %>
            </div>

            <% if @event.tag_list.present? %>
              <div class="absolute top-0 right-2 z-10 mt-3 ml-3">
                <%= render partial: "events/tag", collection: @event.tag_list %>
              </div>
            <%end%>
          </div>
          
          <div class="max-w-xl mx-auto my-14 text-center">
          </div>
        </div>
      </div>
    </section>
  </div>

<script>
    new TomSelect('#tom-select-it', {
      plugins: ['dropdown_input'],
      maxItems: 1,
    });
</script>
