<%= turbo_frame_tag 'main_view' do %>

  <div class="w-full">
    <div class="py-8 sm:py-16 block lg:py-24 relative bg-opacity-50 z-40">
      <div class="relative mx-auto h-full pb-20 sm:max-w-xl md:max-w-full lg:max-w-screen-xl">

        <div class="mx-auto text-center">
          <div class="inline-flex px-4 py-1.5 mx-auto rounded-full">
            <p class="text-4xl font-semibold tracking-widest text-g uppercase">Мероприятия</p>
          </div>
        </div>

        <div class="w-full text-gray-700 my-4">
          <div class="flex flex-col max-w-screen-xl mx-auto md:items-center md:justify-between md:flex-row">
            <div class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
              <%= render 'filters' %>
              <%= link_to 'Открыть карту', map_path, data: { turbo_frame: 'main_view' }, class: 'md:ml-4 border-2 border-gray-500 px-4 py-2 font-semibold bg-transparent rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline' %>
            </div>
          </div>
        </div>

        <% if @events.present? %>
          <div class="grid gap-2 mt-12 sm:grid-cols-4 lg:mt-20">
            <%= render partial: 'events/card', collection: @events %>
          </div>
        <% else %>
          <div class="p-4">
            Мероприятия не найдены. Попробуйте перезагрузить страницу или поменять фильтры
          </div>
        <% end %>
      </div>

      <%= render partial: 'layouts/pagy_down_bar' %>
    </div>
  </div>
<% end %>
