<% content_for :title, @organization.name %>

<div class="w-full">
  <section class=" bg-blue-500ray-50">
    <div class="py-8 sm:py-16 block lg:py-24 relative bg-opacity-50 z-40">

      <div class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24">

        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
          <div class="grid grid-cols-2 gap-20">
            <div class="max-w-xl mx-auto text-center">
              <div class="inline-flex px-4 py-1.5 mx-auto rounded-full">
                <p class="text-4xl font-semibold tracking-widest text-g"><%= @organization.name %></p>

                <%= render partial: 'labels', locals: { organization: @organization } %>
              </div>

              <p class="mt-4 text-base leading-relaxed text-gray-600 group-hover:text-white">
                <%= @organization.activity_field %>
              </p>
              <p class="my-4 text-base leading-relaxed text-gray-600 group-hover:text-white">
                <%= @organization.description %>
              </p>

              <% if organization_signed_in? && current_organization == @organization %>
                <%= render partial: 'buttons', locals: { organization: @organization } %>
              <% end %>
            </div>

            <div>
              <%= image_tag @organization.logo_url %>
            </div>
          </div>

          <div class="max-w-xl mx-auto my-14 text-center">
            <div class="inline-flex px-4 py-1.5 mx-auto rounded-full">
              <p class="text-4xl font-semibold tracking-widest text-g uppercase">Мероприятия</p>
            </div>
          </div>

          <div class="grid grid-cols-1 gap-2 mt-12 sm:grid-cols-3 lg:mt-20">
            <%= render partial: 'events/card', collection: @organization.events %>
          </div>
        </div>
      </div>
    </section>
  </div>
